.FormBox,
.person {
  display: inline-block;
  border: 4px dotted rgb(57, 57, 108);
  border-radius: 5px;
  margin: 10px 10px 10px 3px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 30%;
  height: 240px;
}

.likeButton {
  width: 30%;
  height: 40px;
  margin-right: 30px;
  margin-left: 35px;
  margin-top: 10px;
}
.person-att {
  display: flex;
  border: 2px solid rgb(61, 202, 174);
  border-radius: 3px;
  margin-bottom: 5px;
  padding-left: 20px;
  height: 40px;
  padding-top: 7px;
}
.person-row {
  margin-right: 10px;
}

